* {
    box-sizing: border-box;
}

body {
    margin: 0;

    font-family: 'Epilogue', 'Times New Roman', Times, serif;

    display: flex;
    justify-content: center;
}

.intro {
    border: 1px solid red;
    
    width: 375px;
    height: 780px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 20px;
}

.body {
    border: 1px solid red;
    display: flex;
    flex-direction: column;

    align-items: center;
}

.body__pic {
    width: 375px;
}

.body__header {
    text-align: center;
    font-size: 35px;

    margin-top: 40px;
    margin-bottom: 5px;
}

.body__text {
    font-size: 17px;
    color: hsl(0, 0%, 41%);
    text-align: center;
    line-height: 1.75rem;
}

.body__button {
    border: 1px solid red;
    color: hsl(0, 0%, 98%);

    padding: 14px 20px;
    background-color: hsl(0, 0%, 8%);

    border-radius: 15px;

    margin-top: 5px;
    margin-bottom: 40px;
}

.footer {
    border: 1px solid red;

    /* display: flex; */
}

.icon {
    border: 1px solid red;
    width: 75px;
}

.sponsers__audiophile {
    width: 50px;
}

