* {
    box-sizing: border-box;
}

body {
    margin: 0;

    font-family: 'Epilogue', 'Times New Roman', Times, serif;

    display: flex;
    justify-content: center;
}

.intro {
    border: 1px solid red;

    width: 375px;
    height: 780px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 20px;
}

.body {
    border: 1px solid red;
}

.body__pic {
    border: 1px solid red;

    width: 375px;
}

.body__header {
    border: 1px solid red;
}

.body__text {
    border: 1px solid red;
}

.body__button {
    border: 1px solid red;
}

.footer {
    border: 1px solid red;
}

.icon {
    border: 1px solid red;
}